  html
{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

body {
  margin: 10px;
  background-color: white;
}

header{
  position:relative;
  height:280px;
}

#headerprojet {
  position:relative;
  top: 0px;
  float: left;
}

#name {
  position: relative;
  top: 0px;
  float: left;
  justify-content: flex-start;
}

#menu {
  position: relative;
  top: 0px;
  float: right;
  justify-content: flex-end;
}

#menuprojet {
  position: relative;
  top: 0px;
  float: right;
  justify-content: flex-end;
}

#conteneur {
  display: flex;
  margin: 20px;
}

#colonne1 {
   width:100%;
   max-width: 100%;
   height:auto;
   float: left;
   justify-content: flex-start;
   display: inline-block;
   align-items: baseline;
}

#colonne2 {
   width:100%;
   max-width: 100%;
   height:auto;
   float: right;
   justify-content: flex-end;
   display: inline-block;
   align-items: baseline;
 }

h1 {
    font-size: 3em;
    text-align: left;
    margin-left: 20px;
}

h2 {
  font-size: 1,1em;
  text-align: center;
  height: 25px;
  padding-bottom: 70px;
  margin-top: 5px;
}

h3 {
    color: black;
    font-size: 2em;
    text-align: left;
    margin-left: 50px;
    top: 0px;
    text-decoration: underline;
}

h4 {
  font-size: 2em;
  color: pink;
  text-decoration: none;
  margin-right: 20px;
  margin-bottom: -60px;
  text-align: right;
}

h4:hover {
  background: black;
}

nav {
  text-align: left;
  margin-left: 50px;
}

a {
  color: pink;
  text-decoration: none;
}

p {
color: grey;
text-align: left;
margin-top: -5px;
}

p.contact {
color: grey;
text-align: left;
margin-left: 50px;
margin-right: 100px;
margin-top: 10px;
}

img.imageaccueil {
  max-width: 90%;
  height: auto;
  z-index: 1;
}

img.imageaccueil:hover {
  max-width: 90%;
  height: auto;
  filter: blur(2px);
  z-index: 1;
}

.imageaccueil:hover {
  overflow: hidden;
  z-index: 1;
}

img {
  max-width: 70%;
  height: auto;
}

footer {
  font-size: 0.8em;
  text-align: center;
  margin-right: 50px;
  padding-top: 30px;
}

.tiret {
  max-width: 10%;
  height: auto;
  margin-left: 20px;
  position: fixed;
  top: 12em;
  display: flex;
  z-index: 2;
}

.tiretarticle {
  max-width: 10%;
  height: auto;
  margin-left: 20px;
  position: fixed;
  top: 8.8em;
  display: flex;
  justify-content: flex-start;
  z-index: 2;
}

.boite {
  display: flex;
}

.colonne.texte {
  width:20%;
  padding-left:50px;
}

.colonne.images {
  width: 80%;
  max-width: 100%;
}

.carnet {
  color: black;
  font-size: 1.2em;
  text-align: center;
  height: 25px;
}

.poeticurious {
  color: black;
  font-size: 1.2em;
  text-align: center;
  height: 25px;
}

.reliure {
  color: black;
  font-size: 1.2em;
  text-align: center;
  height: 25px;
}

.anonymes {
  color: black;
  font-size: 1.2em;
  text-align: center;
  height: 25px;
}

.luthier {
  color: black;
  font-size: 1.2em;
  text-align: center;
  height: 25px;
}

.zubtika {
  color: black;
  font-size: 1.2em;
  text-align: center;
  height: 25px;
}

.postale {
  color: black;
  font-size: 1.2em;
  text-align: center;
  height: 25px;
}

.gravure {
  color: black;
  font-size: 1.2em;
  text-align: center;
  height: 25px;
}

.wonderful {
  color: black;
  font-size: 1.2em;
  text-align: center;
  height: 25px;
}

.sensinaif {
  color: black;
  font-size: 1.2em;
  text-align: center;
  height: 25px;
}

.typodansss {
  color: black;
  font-size: 1.2em;
  text-align: center;
  height: 25px;
}
